* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}


/* common css */
.background-color {
    background-color: #1A0B2E;
}


/* header section */
header {
    color: white;
}

.btn {
    background-image: linear-gradient(to top right,#F7E93F,#FB09B4,#9100F8);
    padding: 0.6em 1em;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 2em;
    cursor: pointer;

}
.btn img {
    width: 0.8em;
    /* padding: 0 0.1em; */
    vertical-align: middle;
}

/* nav section */
nav {
    max-width: 1200px;
    padding: 1.7rem 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .nav__list {
    display: flex;
    align-items: center;
} */
 #hamburger {
    display: none;
 }
.nav__list ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
}
.nav__list ul a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}



/* responsive in small device */
@media screen and (max-width: 576px) {
    nav {
        margin: 0 7%;
    }
    .nav__logo img {
        width: 60%;
    }
    .nav__list ul, .nav__button  {
        display: none;
    }
    #hamburger {
        display: block;
    }

}