* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* common css */
.background-color {
    background-color: #17072b;
}

p {
    color: #ffffffc0;
}


/* header section */
header {
    color: white;
}

.btn {
    background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    padding: 0.7em 1em;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    transition: transform 0.4s;

}

.btn img {
    width: 0.8em;
    vertical-align: middle;

}

.btn:hover,
.sub-button:hover {
    transform: scale(1.05);
}

/* nav section */
nav {
    border-bottom: 1px solid #ffffff25;
}

.nav__section {
    max-width: 1200px;
    padding: 1.7rem 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav__list {
    display: flex;
    align-items: center;
} */
#hamburger {
    display: none;
}

.nav__list ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

.nav__list ul a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

/* banner section */
.banner__section {
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    padding: 5rem 0 3rem 0;
}

.banner__image {
    width: 25%;
    min-width: 270px;
    max-width: 350px;
    margin: auto;
    position: relative;
}

.banner__image .circle {
    width: 100%;
    animation: myAnimation 3s linear infinite;
}

@keyframes myAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.banner__image .microphone {
    width: 32%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animation 4s linear 1s 1 alternate forwards;
}

@keyframes animation {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    30% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.6;
    }

    70% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

.banner__text h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    padding: 1.9rem 0 0.7rem 0;
}

.banner__text p {
    padding-bottom: 1.2rem;
}

.banner__text .btn img {

    outline: 2px solid white;
    border-radius: 50%;
    outline-offset: 2px;
    margin-right: 8px;
    vertical-align: middle;
}

.banner__text .sub-button {
    background: none;
    color: #00FF88;
    padding: 0.6em 0.9em;
    vertical-align: middle;
    border: 1px solid #00FF88;
    font-weight: 500;
    border-radius: 2em;
    cursor: pointer;
    margin: 0 5px;
    transition: transform 0.4s;

}

.sub-button img {
    width: 13px;
    margin-right: 5px;
    vertical-align: middle;
}

.bage {
    width: 70px;
    height: max-content;
    background-color: #00FF88;
    color: #0b0513;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    padding: 7px 0;
    box-shadow: 0 1px 30px #00FF88;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 50%;
    animation: bageAnimation 2s ease-in-out 0.3s 1 alternate forwards;
}

@keyframes bageAnimation {
    from {
        top: 0rem;
        left: 50%;
        box-shadow: 0 0px 0px #00FF88;
    }

    to {
        left: 55%;
        top: 6.8rem;
    }
}


/* About section */
.about-info {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.about-info .about-text {
    color: white;
    padding: 3rem 15rem;
    border-bottom: 1px solid #ffffff25;

}

.about-text h1 {
    font-size: 2.7rem;
    font-weight: bold;
    padding-bottom: 1.2rem;
}

.about-text p,
.about-card p {
    font-weight: 400;
    line-height: 2rem;


}

.about-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4rem 0;
}

.about-card h1 {
    color: #00FF88;
    font-weight: bolder;

}

/* choose-section */
.choose-section {
    background-color: #230E3D;
    padding: 0 1rem;
}

.choose-info {
    max-width: 1200px;

    margin: auto;
    padding: 5rem 0;
}

.choose-info h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.choose-card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.7rem;
    grid-template-areas: 'card1 card1 card2 card2 card2 card2'
        'card1 card1 card3 card3 card3 card3'
        'card4 card4 card4 card4 card5 card5';

}

.choose-card .card {
    background-color: #35116550;
    border-radius: 2.5rem;
    padding: 2.7rem;
    transition: transform 0.5s, background-color 0.5s;
}

.choose-card .card:hover {
    transform: scale(1.03);
    background-color: #351165;
}

.choose-card h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.2rem 0;
    color: white;
}

.choose-card p {
    line-height: 1.5rem;
}

.choose-card .card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choose-card .card1 img {
    max-width: 50px;
}

/* feature-section */
.feature-section {
    padding: 4rem 1rem 6rem;
}

.feature-section h1 {
    color: white;
    font-size: 2.7rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;

}

.feature-frame {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.feature-frame iframe {
    width: 100%;
    height: 250px;
    border: none;
    border-radius: 1rem 1rem 0 0;
}

.feature-frame .frame {
    background-color: #35116550;
    border-radius: 1rem;
    transition: transform 0.3s, background-color 0.5s;
}

.feature-frame .frame:hover {
    transform: scale(1.02);
    background-color: #351165;
}

.frame h3 {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.frame p,
h3 {
    margin: 1.5rem;
}

.frame p {
    line-height: 1.5rem;
}

.frame img {
    vertical-align: middle;
    margin-right: 4px;
}

.frame .time {
    color: #00FF88;
    font-weight: 500;
}


/* host-section */
.host-section h1 {
    margin-top: 5rem;
}

.host-detail {
    max-width: 1200px;
    margin: auto;
    background-color: #35116550;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

.host-detail .host-des {
    margin-left: 2.5rem;
}

.host-des h2 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.host-des p {
    line-height: 1.4rem;
    margin-bottom: 1.3rem;

}

.host-section .social img {
    border: none;
    box-sizing: content-box;
    border: 2px solid #533c72;
    padding: 5px;
    max-width: 20px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
    transition: transform 0.3s;
}

.social img:hover {
    transform: scale(1.1);
}


footer {
    background-image: url('./assets/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 5rem 0;
}

footer .footer-head {
    max-width: 350px;
    width: 100%;
}

.footer-logo {
    max-width: 540px;
    margin: 1.5rem auto;
    color: #ffffffcc;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-logo img {
    vertical-align: middle;
    max-width: 1rem;
}



/* responsive in midium design */
@media screen and (min-width: 576px) and (max-width: 991px) {

    .nav__list ul,
    .nav__button {
        display: none;
    }

    #hamburger {
        display: block;
    }

    .nav__section {
        margin: 0 9%;
    }

    .about-info .about-text {
        padding: 2rem 15%;

    }

    .about-card {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        padding: 3rem 0;
    }

    .choose-card {

        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        grid-template-areas: 'card1 card2'
            'card3 card4'
            'card5 .';
        margin: 0 5%;
    }

    .choose-card .card {
        padding: 1.3rem;
    }

    .feature-frame {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }


    .feature-section {
        padding: 2rem 1rem 4rem;
    }

    .feature-frame iframe {
        width: 100%;
        height: 180px;
    }

    .frame p,
    h3 {
        margin: 1rem;
    }

    .host-section h1 {
        margin-top: 3rem;
    }

    .host-detail .host-des {
        margin-left: 2rem;
    }
}



/* responsive in small device */
@media screen and (max-width: 576px) {
    .nav__section {
        margin: 0 7%;
    }

    .nav__section {
        padding: 1rem 0;
    }

    .nav__logo img {
        max-width: 60%;
    }

    .nav__list ul,
    .nav__button {
        display: none;
    }

    #hamburger {
        display: block;
    }

    .banner__section {
        padding: 2rem 0 0.5rem 0;
        background-size: 100% 100%;

    }

    .banner__image {
        min-width: 200px;
    }


    @keyframes bageAnimation {
        from {
            top: 0rem;
            left: 50%;
            box-shadow: 0 0px 0px #00FF88;
        }

        to {
            left: 55%;
            top: 2.5rem;
        }
    }

    .banner__text h1 {
        font-size: 2rem;
        padding-top: 1rem;
        padding-bottom: 0;
    }

    .banner__text p {
        padding: 0.8rem 5%;
    }

    .about-info .about-text {
        color: white;
        padding: 3rem 7% 1.5rem;
        border-bottom: 1px solid #ffffff25;

    }

    .about-text h1 {
        font-size: 2rem;
    }

    .about-text p,
    .about-card p {
        font-weight: 300;
        line-height: 1.5rem;

    }

    .about-card {
        grid-template-columns: repeat(2, 1fr);
        padding: 2.5rem 0;
        row-gap: 2rem;
    }

    .choose-info {
        padding: 2.5rem 0;
    }

    .choose-info h1 {
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
    }

    .choose-card {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        grid-template-areas: 'card1'
            'card2'
            'card3'
            'card4'
            'card5';
        margin: 0 7%;
    }

    .feature-section {
        padding: 2rem 0;
    }

    .feature-section h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem;

    }

    .feature-frame {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-frame .frame {
        margin: 0 7%;
    }

    .host-detail {
        padding: 0.8rem;
        text-align: center;
        flex-direction: column;
        margin: 0 7%;
    }

    .host-detail .host-des {
        margin-left: 0rem;
        margin-top: 1rem;
    }

    .host-section .social {
        margin-bottom: 1rem;
    }

    .host-section h1 {
        margin-top: 3.5rem;
    }


    footer {
        padding: 2.5rem 0;
    }

    footer .footer-head {
        max-width: 200px;
    }

    .footer-logo {
        max-width: 300px;
        margin: 1.5rem auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo {
        margin: 10px;
    }


}