* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* common css */
.background-color {
    background-color: #1A0B2E;
}


/* header section */
header {
    color: white;
}

.btn {
    background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    padding: 0.7em 1em;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 2em;
    cursor: pointer;

}

.btn img {
    width: 0.8em;
    vertical-align: middle;
}

/* nav section */
nav {
    border-bottom: 1px solid #ffffff25;
}

.nav__section {
    max-width: 1200px;
    padding: 1.7rem 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav__list {
    display: flex;
    align-items: center;
} */
#hamburger {
    display: none;
}

.nav__list ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

.nav__list ul a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

/* banner section */
.banner__section {
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    position: relative;
    padding: 6rem 0 5rem 0;
}

.banner__image {
    width: 25%;
    min-width: 200px;
    max-width: 320px;
    margin: auto;
    position: relative;
}

.banner__image .circle {
    width: 100%;
    animation: myAnimation 5s linear 0.5s infinite normal forwards;
}

@keyframes myAnimation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.banner__image .microphone {
    width: 32%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animation 3s linear 0.1s 1 alternate forwards;
}
@keyframes animation {
    0% {opacity: 0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    90% {opacity: 0.9;}
    100% {opacity: 1;}
}

.banner__text h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    padding: 1.9rem 0 0.7rem 0;
}

.banner__text p {
    color: #ffffff99;
    padding-bottom: 1.2rem;
}

.banner__text .btn img {

    outline: 2px solid white;
    border-radius: 50%;
    outline-offset: 2px;
    margin-right: 8px;
    vertical-align: middle;
}

.banner__text .sub-button {
    background: none;
    color: #00FF88;
    padding: 0.6em 0.9em;
    vertical-align: middle;
    border: 1px solid #00FF88;
    font-weight: 500;
    border-radius: 2em;
    cursor: pointer;
    margin: 0 5px;

}

.sub-button img {
    width: 13px;
    margin-right: 5px;
    vertical-align: middle;
}

.bage {
    width: 70px;
    height: max-content;
    background-color: #00FF88;
    color: #0b0513;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    padding: 7px 0;
    box-shadow: 0 1px 30px #00FF88;
    position: absolute;
    top: 6.8rem;
    left: 55%;
    z-index: 99;
}



/* responsive in small device */
@media screen and (max-width: 576px) {
    .nav__section {
        margin: 0 7%;
    }

    .nav__logo img {
        max-width: 60%;
    }

    .nav__list ul,
    .nav__button {
        display: none;
    }

    #hamburger {
        display: block;
    }

}