* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}


/* common css */
.background-color {
    background-color: #1A0B2E;
}


/* header section */
header {
    color: white;
}

.btn {
    background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    padding: 0.6em 1em;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 2em;
    cursor: pointer;

}

.btn img {
    width: 0.8em;
    vertical-align: middle;
}

/* nav section */
nav {
    border-bottom: 1px solid #ffffff25;
}

.nav__section {
    max-width: 1200px;
    padding: 1.7rem 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav__list {
    display: flex;
    align-items: center;
} */
#hamburger {
    display: none;
}

.nav__list ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

.nav__list ul a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

/* banner section */
.banner__section {
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    padding: 6rem 0 7rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__image {
    margin: auto;
    position: relative;
}

.banner__image #circle {
    max-width: 60%;
    vertical-align: middle;
}

.banner__image #microphone {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.banner__text h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    padding: 1.9rem 0 0.7rem 0;
}
.banner__text p {
    color: #ffffff99;
    padding-bottom: 1.2rem;
}
.banner__text .btn img {
    box-sizing: content-box;
    width: 9px;
    padding: 1.5px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: text-bottom;
    
}
.banner__text .sub-button {
    background: none;
    color: #00FF88;
    padding: 0.6em 0.9em;
    border: 1px solid #00FF88;
    font-size: 500;
    border-radius: 2em;
    cursor: pointer;
    margin: 0 5px;

}
 .sub-button img {
    width: 13px;
    margin-right: 5px;
    vertical-align: middle;
 }
 .bage {
    width: 70px;
    height: max-content;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    padding: 7px 0;
    box-shadow: 0 1px 30px #00FF88;
    position: absolute;
    top: 6.8rem;
    left: 55%;
    z-index: 99;
 }



/* responsive in small device */
@media screen and (max-width: 576px) {
    .nav__section {
        margin: 0 7%;
    }

    .nav__logo img {
        max-width: 60%;
    }

    .nav__list ul,
    .nav__button {
        display: none;
    }

    #hamburger {
        display: block;
    }

}