* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* common css */
.background-color {
    background-color: #17072b;
}


/* header section */
header {
    color: white;
}

.btn {
    background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    padding: 0.7em 1em;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 2em;
    cursor: pointer;

}

.btn img {
    width: 0.8em;
    vertical-align: middle;
}

.btn:hover,
.sub-button:hover {
    transform: scale(1.05);
}

/* nav section */
nav {
    border-bottom: 1px solid #ffffff25;
}

.nav__section {
    max-width: 1200px;
    padding: 1.7rem 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav__list {
    display: flex;
    align-items: center;
} */
#hamburger {
    display: none;
}

.nav__list ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

.nav__list ul a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

/* banner section */
.banner__section {
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    padding: 5rem 0 3rem 0;
}

.banner__image {
    width: 25%;
    min-width: 200px;
    max-width: 320px;
    margin: auto;
    position: relative;
}

.banner__image .circle {
    width: 100%;
    animation: myAnimation 5s ease-in infinite normal forwards;
}

@keyframes myAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.banner__image .microphone {
    width: 32%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animation 4s linear 0s 1 alternate forwards;
}

@keyframes animation {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    30% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.6;
    }

    70% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

.banner__text h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    padding: 1.9rem 0 0.7rem 0;
}

.banner__text p {
    color: #ffffff99;
    padding-bottom: 1.2rem;
}

.banner__text .btn img {

    outline: 2px solid white;
    border-radius: 50%;
    outline-offset: 2px;
    margin-right: 8px;
    vertical-align: middle;
}

.banner__text .sub-button {
    background: none;
    color: #00FF88;
    padding: 0.6em 0.9em;
    vertical-align: middle;
    border: 1px solid #00FF88;
    font-weight: 500;
    border-radius: 2em;
    cursor: pointer;
    margin: 0 5px;

}

.sub-button img {
    width: 13px;
    margin-right: 5px;
    vertical-align: middle;
}

.bage {
    width: 70px;
    height: max-content;
    background-color: #00FF88;
    color: #0b0513;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    padding: 7px 0;
    box-shadow: 0 1px 30px #00FF88;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 50%;
    animation: bageAnimation 2s ease-in-out 0.1s 1 alternate forwards;
}

@keyframes bageAnimation {
    from {
        top: 0rem;
        left: 50%;
        box-shadow: 0 0px 0px #00FF88;
    }

    to {
        left: 55%;
        top: 6.8rem;
    }
}


/* About section */
.about-info {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.about-info .about-text {
    color: white;
    padding: 3rem 15rem;
    border-bottom: 1px solid #ffffff25;

}
.about-text h1 {
    font-size: 2.7rem;
    font-weight: bold;
    padding-bottom: 1.2rem;
}
.about-text p,.about-card p {
    font-weight: 400;
    line-height: 2rem;
    color: #ffffffbe;

}
.about-card {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 4rem 0;
}
.about-card h1 {
    color: #00FF88;
    font-weight: bolder;

}




/* responsive in small device */


@media screen and (max-width: 576px) {
    .nav__section {
        margin: 0 7%;
    }

    .nav__section {
        padding: 1rem 0;
    }

    .nav__logo img {
        max-width: 60%;
    }

    .nav__list ul,
    .nav__button {
        display: none;
    }

    #hamburger {
        display: block;
    }

    .banner__section {
        padding: 2rem 0 0.5rem 0;
        background-size: 100% 100%;

    }


    @keyframes bageAnimation {
        from {
            top: 0rem;
            left: 50%;
            box-shadow: 0 0px 0px #00FF88;
        }

        to {
            left: 55%;
            top: 2.5rem;
        }
    }

    .banner__text h1 {
        font-size: 2rem;
        padding-top: 1rem;
        padding-bottom: 0;
    }

    .banner__text p {
        font-size: 0.9rem;
        padding: 0.8rem 5%;
    }

.about-info .about-text {
    color: white;
    padding: 3rem 7% 1.5rem;
    border-bottom: 1px solid #ffffff25;

}
.about-text h1 {
    font-size: 2rem;
}
.about-text p,.about-card p {
    font-weight: 300;
    line-height: 1.5rem;

}
.about-card {
    grid-template-columns: repeat(2,1fr);
    padding: 2.5rem 0;
    row-gap: 1.7rem;
}


}